* {
 margin: 0;
 padding: 0;
 list-style: none;
 box-sizing: border-box;
 font-family: sans-serif;
}
img {
 width: 100%;
}
ul li a {
 text-decoration: none;
 color: black;
}
header.principal {
 min-height: 50vh;
 background-image: url(/img/vacaencab1280.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 display: flex;
 flex-direction: column;
 align-items: center;
}

header.principal nav {
 flex-grow: 0.9;
}
header.principal a.comprar {
 color: white;
 text-decoration: none;
 background-color: black;
 padding: 0.5rem 1rem;
}

h1 {
 color: white;
 font-size: 45px;
}

section#descripcion p {
 columns: 2;
 padding: 1rem;
 font-size: 10px;
}

h2 {
 color: white;
 text-align: left;
 padding: 1rem;
 font-size: 40px;
}

h3 {
 color: white;
 font-size: 40px;
 text-align: center;
}

main {
 background: orange;
}

section.ejemplares ul {
 display: flex;
 flex-direction: column;
}
section.ejemplares ul li {
 flex-grow: 1;
 padding: 1rem;
}
article header {
 background-color: black;
 color: white;
}
header img {
 width: 100%;
 max-width: cover;
 object-fit: cover;
}
article header p {
 font-size: 14px;
 padding: 2rem 3rem;
 text-align: left;
}
footer {
 background-color: gray;
 font-size: 14px;
 text-align: center;
 padding: 1rem 1rem;
}
section#registro {
 background-color: white;
}

h4 {
 color: orange;
 font-size: 40px;
 padding: 2rem 1rem;
}

form ul {
 display: flex;
 flex-wrap: wrap;
}

form ul.identificacion li {
 display: flex;
 flex-direction: column;
 width: 50%;
 margin: 0.1;
 padding: 0.5rem;
 color: black;
 font-weight: 600;
 font-size: 12px;
}
form ul.inform li {
 display: flex;
 flex-direction: column;
 width: 100%;
 margin: 5px;
}

form ul.inform li textarea {
 background-color: orange;
 border-width: 2px;
 border-color: black;
 padding: 0.3rem;
 margin-top: 0.4rem;
 width: 100%;
 box-sizing: border-box;
}

form ul.identificacion li input {
 background-color: orange;
 border-width: 2px;
 border-color: black;
 padding: 0.3rem;
 margin-top: 0.4rem;
 width: 100%;
 box-sizing: border-box;
}

form ul.identificacion li select {
 background-color: orange;
 border-width: 2px;
 border-color: black;
 padding: 0.3rem;
 margin-top: 0.4rem;
 width: 100%;
 box-sizing: border-box;
}

ul.inform li label {
 color: black;
}

button {
 margin: 5px;
 background-color: black;
 color: white;
 padding: 0.6rem;
 width: 8rem;
}

@media (min-width: 700px) {
 header.principal {
  display: flex;
  flex-direction: row;
  align-items: baseline;
 }

 header.principal > * {
  flex-basis: calc(100% / 3);
 }

 header.principal nav {
  order: -1;
  flex-grow: 0;
 }

 ul.cabecera {
  display: flex;
 }

 ul.cabecera li {
  margin-left: 0.5rem;
 }

 header.principal div {
  text-align: right;
  margin-right: 1rem;
 }

 body header h1 {
  text-align: center;
  flex-grow: initial;
 }

 section.ejemplares ul {
  display: flex;
  flex-direction: row;
 }

 section.ejemplares ul li {
  flex-basis: calc(100% / 3);
  margin: -0.5rem;
 }

 section#descripcion p {
  padding: 1rem;
  font-size: 15px;
 }
}
